@use 'variables' as *;

:root {
    font-family: $text-font;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

h1, h2 {
    font-family: $header-font;
}

h3, h4 {
    font-family: $subheader-font;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    font-family: $text-font;
    font-size: 1em;
    line-height: 1.5em;
}

ul a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
