@use 'variables' as *;
@use 'mixins' as *;

.button {
    height: fit-content;
    width: fit-content;
    margin-left: 20px;
    padding: 8px 16px;
    background-color: $gray-color;
    border-radius: 12px;
    font-family: $header-font;

    font-size: 1em;

    color: $primary-color;
    background-color: $secondary-color;

    text-decoration: none; // Added because it was in 'ul a, a.button' selector before

    &:hover {
        filter: brightness(90%);
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
        text-decoration: underline; // Added to match previous behavior
    }
}

.clen-tymu {
    @include flex-col-center();
    text-align: center;
    width: 180px;

    @include mobile {
        width: 140px;
    }

    img {
        width: 96px;
        height: 96px;

        border-radius: 50%;
        margin-bottom: 16px;

        @include mobile {
            width: 100px;
            height: 100px;
            margin-bottom: 12px;
        }
    }

    p {

        &.jmeno {
            font-family: $header-font;
            font-size: 1.5em;

            @include mobile {
                font-size: 1.2em;
            }
        }
        
        &.skola {
            font-family: $subheader-font;
            font-size: 1em;

            @include mobile {
                font-size: 0.9em;
            }
        }

        &.role {
            font-family: $text-font;
            font-size: 1em;

            @include mobile {
                font-size: 0.9em;
            }
        }
    }
}

.text-btn {
    font-family: $header-font;
    font-size: 1em;
    color: $primary-color;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 0;
    
    &:hover {
        opacity: 0.8;
    }
}

