$primary-color: #0f0f0f; // 1B211A // 8f00c7 // 0f0f0f
$secondary-color: #dad726; // 719649 // fffc33 // fffc33
$gray-color: #CED4DA;
$light-gray: #F0F0F0;
$white-color: #ffffff;

$header-font: "Days One";
$subheader-font: "roboto slab";
$text-font: "open sans";

$header-height: 80px;
