@import "./fonts.css";
:root {
  font-family: "open sans";
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

h1, h2 {
  font-family: "Days One";
}

h3, h4 {
  font-family: "roboto slab";
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  font-family: "open sans";
  font-size: 1em;
  line-height: 1.5em;
}

ul a {
  text-decoration: none;
}
ul a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.button {
  height: fit-content;
  width: fit-content;
  margin-left: 20px;
  padding: 8px 16px;
  background-color: #CED4DA;
  border-radius: 12px;
  font-family: "Days One";
  font-size: 1em;
  color: #0f0f0f;
  background-color: #dad726;
  text-decoration: none;
}
.button:hover {
  filter: brightness(90%);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  text-decoration: underline;
}

.clen-tymu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 180px;
}
@media (max-width: 768px) {
  .clen-tymu {
    width: 140px;
  }
}
.clen-tymu img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .clen-tymu img {
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
  }
}
.clen-tymu p.jmeno {
  font-family: "Days One";
  font-size: 1.5em;
}
@media (max-width: 768px) {
  .clen-tymu p.jmeno {
    font-size: 1.2em;
  }
}
.clen-tymu p.skola {
  font-family: "roboto slab";
  font-size: 1em;
}
@media (max-width: 768px) {
  .clen-tymu p.skola {
    font-size: 0.9em;
  }
}
.clen-tymu p.role {
  font-family: "open sans";
  font-size: 1em;
}
@media (max-width: 768px) {
  .clen-tymu p.role {
    font-size: 0.9em;
  }
}

.text-btn {
  font-family: "Days One";
  font-size: 1em;
  color: #0f0f0f;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 0;
}
.text-btn:hover {
  opacity: 0.8;
}

header, footer {
  padding: 0px 40px;
}
@media (max-width: 768px) {
  header, footer {
    padding: 0px 20px;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #0f0f0f;
  color: #dad726;
  font-family: "Days One";
  position: relative;
}
@media (max-width: 768px) {
  header {
    height: 80px;
    padding: 0 20px;
    flex-direction: row;
  }
}
header .logo {
  height: 2em;
}
header .hamburger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 100;
}
@media (max-width: 768px) {
  header .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
}
header .hamburger-menu span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #dad726;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
header .hamburger-menu.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
header .hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}
header .hamburger-menu.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
header nav {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  header nav {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #0f0f0f;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    z-index: 99;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  header nav.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
}
header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  list-style: none;
}
@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  header nav .button {
    margin-left: 0;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min-content;
  padding: 80px 12px;
  background-color: #CED4DA;
}
section.hero-section {
  height: calc(100vh - 80px);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.65));
  gap: 40px;
}
@media (max-width: 768px) {
  section.hero-section {
    height: calc(100vh - 140px);
  }
}
section.hero-section .hero-image {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
section.hero-section div.logo-and-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #dad726;
  gap: 10px;
}
section.hero-section div.logo-and-slogan .logo {
  height: 5em;
  width: auto;
}
@media (max-width: 768px) {
  section.hero-section div.logo-and-slogan .logo {
    height: 3em;
  }
}
section.hero-section div.logo-and-slogan .slogan {
  font-family: "roboto slab";
  font-size: 2em;
}
@media (max-width: 768px) {
  section.hero-section div.logo-and-slogan .slogan {
    font-size: 1.2em;
    text-align: center;
  }
}
section#kontakt {
  display: grid;
  grid-template-columns: auto auto;
  align-items: start;
  gap: 10%;
}
@media (max-width: 768px) {
  section#kontakt {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
section#kontakt h3 {
  font-family: "Days One";
}
section#kontakt div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 20px;
}
section#kontakt div.container img.ssps-logo {
  width: 280px;
  transition: transform 0.3s ease-in-out;
}
section#kontakt div.container img.ssps-logo:hover {
  transform: scale(1.05);
}
@media (max-width: 768px) {
  section#kontakt div.container img.ssps-logo {
    width: 200px;
  }
}
section#kontakt div.container div.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 32px;
}
@media (max-width: 768px) {
  section#kontakt div.container div.box {
    flex-direction: column;
    gap: 20px;
  }
}
section#kontakt div.container div.box h4 {
  text-align: left;
  padding: 0;
  padding-bottom: 8px;
}

#harmonogram {
  background-color: #0f0f0f;
  color: #dad726;
}
#harmonogram span {
  color: black;
}
#harmonogram p {
  max-width: 920px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
@media (max-width: 768px) {
  main {
    padding: 20px;
  }
}
main {
  background-color: #ffffff;
}
main section {
  flex-direction: row;
  gap: 120px;
  padding: 40px 12px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  main section {
    flex-direction: column;
    gap: 40px;
    padding: 0;
  }
}
main section h3 {
  text-align: left;
  padding: 20px 0;
  font-size: 1.5em;
}
main section p {
  font-size: 1.25em;
}
main section div.textbox {
  width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 768px) {
  main section div.textbox {
    width: 100%;
  }
}
main section div.model-container {
  width: 500px;
  height: fit-content;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  main section div.model-container {
    width: 100%;
  }
}
main section div.model-container .model {
  width: 300px;
  height: 300px;
}
@media (max-width: 768px) {
  main section div.model-container .model {
    width: 100%;
    max-width: 300px;
  }
}
main section div.model-container .model-image {
  width: 300px;
  height: 300px;
}
@media (max-width: 768px) {
  main section div.model-container .model-image {
    width: 100%;
    max-width: 300px;
  }
}

#tym {
  background-color: #CED4DA;
  color: #0f0f0f;
}
@media (max-width: 768px) {
  #tym {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#tym .toggle-arrow {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-top: 10px;
  padding: 0;
}
@media (max-width: 768px) {
  #tym .toggle-arrow {
    display: block;
  }
}
#tym .toggle-arrow svg {
  fill: #0f0f0f;
  width: 48px;
  height: 48px;
}
@media (max-width: 768px) {
  #tym.active .toggle-arrow {
    transform: rotate(180deg);
  }
}
#tym div.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  gap: 80px;
}
@media (max-width: 768px) {
  #tym div.cards {
    gap: 40px;
    display: none;
  }
}
@media (max-width: 768px) {
  #tym.active div.cards {
    display: flex;
  }
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 40px 32px 80px 32px;
  background-color: #0f0f0f;
  color: #dad726;
  font-family: "roboto slab";
}
@media (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 40px;
    text-align: center;
  }
}
footer nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
@media (max-width: 768px) {
  footer nav ul {
    align-items: center;
  }
}
footer nav ul {
  list-style: none;
}
footer nav ul li a {
  text-decoration: none;
}
footer nav ul li a:hover {
  text-decoration: underline;
}
footer div.logo-and-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #dad726;
}
footer div.logo-and-slogan .logo {
  height: 2em;
}
footer div.logo-and-slogan .slogan {
  font-size: 1em;
}
footer .rightbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  color: inherit;
}
@media (max-width: 768px) {
  footer .rightbox {
    align-items: center;
  }
}

/*# sourceMappingURL=output.css.map */
