@import "./fonts.css";

$primary-color: #00487A;
$secondary-color: #FFF316;
$gray-color: #CED4DA;
$white-color: #ffffff;

$header-font: "Days One";
$subheader-font: "roboto slab";
$text-font: "open sans";

$header-height: 80px;

// vytvorit guide scss file - barvy pismo atd.
// po kliknuti na logo presmerovat na main page

@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit
}

h1, h2 {
    font-family: $header-font;
}

h3, h4 {
    font-family: $subheader-font;
}

p, span {
    .logo {
        font-family: $header-font;
    }
}

button {
    height: fit-content;
    width: fit-content;
    margin-left: 20px;
    padding: 8px 16px;
    background-color: $gray-color;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: $header-font;

    font-size: 1em;
}

header, footer {
    padding: 0px 40px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: $header-height;

    background-color: $primary-color;
    color: $secondary-color;

    .logo {
        font-family: $header-font;
        font-size: 2em;
    }

    nav {
        display: flex;
        flex-direction: row;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            list-style: none;
            li {
                a {
                    text-decoration: none;
                    font-family: $header-font;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        button {
            background-color: $secondary-color;
            color: $primary-color;

            a {
                font-size: 1em;
                text-decoration: none;
            }

            &:hover {
                background-color: darken($secondary-color, 10%);
            }
        }
    }
}

section {
    @include center();

    width: 100%;
    height: min-content;

    padding: 32px 10px;

    background-color: $gray-color;
    
    &.hero-section {
        height: calc(100vh - $header-height);
        background: radial-gradient(circle, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5));

        gap: 40px;

        img {
            z-index: -1;
            position: absolute;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }

        button {
            background-color: $secondary-color;

            a {
                font-size: 1em;
                text-decoration: none;
            }

            &:hover {
                background-color: darken($secondary-color, 10%);
            }
        }

        div.logo-and-slogan {
            text-align: center;
            color: $secondary-color;

            .logo {
                font-family: $header-font;
                font-size: 5em;
            }

            .slogan {
                font-family: $subheader-font;
                font-size: 2em;
            }
        }
    }
}

// main {
//     section {
        
//     }
// }



footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    padding: 40px 32px;
    
    background-color: $primary-color;
    color: $secondary-color;

    font-family: $subheader-font;

    nav ul {
        @include center();

        align-items: flex-start;

        list-style: none;

        li {
            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    div.logo-and-slogan {
        @include center();

        text-align: center;
        color: $secondary-color;

        .logo {
            font-family: $header-font;
            font-size: 2em;
        }

        .slogan {
            font-size: 1em;
        }
    }

    .rightbox {
        @include center();

        align-items: flex-end;
        color: inherit;
    }
}