@import "./fonts.css";

$primary-color: #0f0f0f; // 1B211A // 8f00c7 // 0f0f0f
$secondary-color: #dad726; // 719649 // fffc33 // fffc33
$gray-color: #CED4DA;
$white-color: #ffffff;

$header-font: "Days One";
$subheader-font: "roboto slab";
$text-font: "open sans";

$header-height: 80px;

// vytvorit guide scss file - barvy pismo atd.

// po kliknuti na logo presmerovat na main page

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

:root {
    font-family: $text-font;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

h1, h2 {
    font-family: $header-font;
}

h3, h4 {
    font-family: $subheader-font;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    font-family: $text-font;
    font-size: 1em;
    line-height: 1.5em;
}

ul a, a.button{
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


header, footer, section {
    padding: 0px 40px;
}

.logo {
    font-family: $header-font;
}

// table style -nerozumim tomu
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-oxxk{background-color:#F0F0F0;text-align:center;vertical-align:top}
.tg .tg-baqh{background-color: $secondary-color;text-align:center;vertical-align:top}
.tg .tg-25ii{background-color:#F0F0F0;text-align:left;vertical-align:top}
.tg .tg-0lax{background-color:$secondary-color;text-align:left;vertical-align:top}


.button {
    height: fit-content;
    width: fit-content;
    margin-left: 20px;
    padding: 8px 16px;
    background-color: $gray-color;
    border-radius: 12px;
    font-family: $header-font;

    font-size: 1em;

    color: $primary-color;
    background-color: $secondary-color;

    &:hover {
        filter: brightness(90%);
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }
}

header {
    @include flex-row-center();
    justify-content: space-between;

    height: $header-height;

    background-color: $primary-color;
    color: $secondary-color;

    font-family: $header-font;

    .logo {
        font-family: $header-font;
        font-size: 2em;
    }

    nav {
        display: flex;
        flex-direction: row;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            list-style: none;
        }
    }
}

section {
    @include flex-col-center();

    width: 100%;
    height: min-content;

    padding: 32px 10px;

    background-color: $gray-color;

    &.hero-section {
        height: calc(100vh - $header-height);
        background: radial-gradient(circle, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.65));

        gap: 40px;

        img {
            z-index: -1;
            position: absolute;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }

        div.logo-and-slogan {
            @include flex-col-center();

            color: $secondary-color;
            gap: 10px;

            .logo {
                font-family: $header-font;
                font-size: 5em;
                // background-color: $primary-color;
            }

            .slogan {
                font-family: $subheader-font;
                font-size: 2em;
                // background-color: $primary-color;
            }
        }
    }

    &#kontakt {
        display: grid;
        grid-template-columns: auto auto;
        
        align-items: start;

        gap: 10%;

        h3 {
            font-family: $header-font;
        }

        div.container {
            @include flex-col-center();

            justify-content: space-between;
            height: 100%;
            gap: 20px;

            img.ssps-logo {
                width: 280px;
            }

            div.box {
                @include flex-row-center();

                justify-content: space-between;
                width: 100%;
                gap: 32px;

                h4 {
                    text-align: left;
                    padding: 0;
                    padding-bottom: 8px;
                }
            }
        }
    }
}

#harmonogram {
    background-color: $primary-color;
    color: $secondary-color;

    span {
        color: black;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    background-color: $white-color;
    section {
        flex-direction: row;
        gap: 120px;

        background-color: $white-color;

        h3 {
            text-align: left;
            padding: 20px 0;
        }

        div.textbox {
            width: 500px;
            height: fit-content;

            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        div.model {
            width: 300px;
            height: 300px;

            background-color: $gray-color
        }
    }
}

#tym {
    div.cards {
        @include flex-col-center();

        flex-direction: row;
        flex-wrap: wrap;

        padding: 20px;
        gap: 80px;

        div.clen-tymu {
            @include flex-col-center();

            img {
                width: 125px;
                height: 125px;
                object-fit: cover;
                border-radius: 50%;

                margin-bottom: 16px;
            }

            p {

                &.jmeno {
                    font-family: $header-font;
                    font-size: 1.5em;
                }
                
                &.skola {
                    font-family: $subheader-font;
                    font-size: 1em;
                }

                &.role {
                    font-family: $text-font;
                    font-size: 1em;
                }
            }
        }
    }
}


footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    padding: 40px 32px;
    
    background-color: $primary-color;
    color: $secondary-color;

    font-family: $subheader-font;

    nav ul {
        @include flex-col-center();

        align-items: flex-start;

        list-style: none;

        li {
            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    div.logo-and-slogan {
        @include flex-col-center();

        text-align: center;
        color: $secondary-color;

        .logo {
            font-family: $header-font;
            font-size: 2em;
        }

        .slogan {
            font-size: 1em;
        }
    }

    .rightbox {
        @include flex-col-center();

        align-items: flex-end;
        color: inherit;
    }
}